<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
</head>
<body>
   <nav>
       <div class="navbar navbar-default navbar-static-top">
           <div class="container">
               <ul class="nav navbar">
                   <li><a class="navbar-brand" href="">home</a></li>
                   <li><a class="navbar-brand" href="">about</a></li>
                   <li><a class="navbar-brand" href="">admin</a></li>
               </ul>
           </div>
       </div>
   </nav>
   {% block body_block %}
   {% endblock %}
</body>
</html>
